
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/P1010501.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container, .main-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.logo {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
}

iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

.table-users {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-collapse: collapse;
}

.table-users th, .table-users td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.table-users th {
    background-color: #f2f2f2;
}
